@charset "UTF-8";

@media (max-width: 992px){
    .menina{
        width: 400px;
    }

    .titulo-nome{
        font-size: 1.5em;
    }

    .titulo-dev{
        font-size: 1em;
    }

    .foto-stella{
        width: 200px;
    }
}

@media (max-width: 768px){
    .menina{
        width: 350px;
    }

    .header{
        display: flex;
        flex-direction: column;
    }

    .mobile{
        display: none;
    }

    .nome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titulo{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .titulo-nome{
        font-size: 2.1875rem /*35px*/;
        margin: 10px;
    }

    .titulo-dev{
        font-size: 1.875rem /*30px*/;
        margin: 10px;

    }

    .titulo-3{
        font-size: 2em;
    }

    .quem{
        flex-direction: column;
    }

    .foto-stella{
        margin: 10px;
    }

    .texto{
        padding: 25px;
    }

    .trabalho-1, .trabalho-2, .trabalho-3, .trabalho-4, .trabalho-5, .trabalho-6, .trabalho-7, .trabalho-8{
        width: 350px;
        height: 200px;
    }
}